p{
background-color: lightgreen;
font-size: 20px;
font-Weight: bold;
heigh: 60px;
{

.image{
  background-color: url('https://m.media-amazon.com/images/M/MV5BZDEyN2NhMjgtMjdhNi00MmNlLWE5YTgtZGE4MzNjMTRlMGEwXkEyXkFqcGdeQXVyNDUyOTg3Njg@._V1_FMjpg_UX1000_.jpg');
{

  
